{{> html }}



{{> navbar }}

<div class="row">
    <div class="col-8">

        <h2>Esto es una Prueba de la imagen ----------------></h2>

    </div>
    <div class="col-4">

        <img src="./assets/img/user_1.jpeg" alt="" class="w-100 img-thumbnail">

    </div>
</div>

{{> footer }}